* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  body {
    background-color: black;
    font-family: Montserrat;
    overflow-x: hidden;
  }
  
  .image2 {
    width: 590px;
    height: 450px;
    margin-top: 190px;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .bg-illustration {
    position: relative;
    height: 100vh;
    width: fit-content;
   background-color: black;
    float:left;
   
  }
  
  .bg-illustration h1 {
    
  
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff;
float: inline-end;
margin-top: 190px;
margin-right: 420px;
   
  }
  .container .title{
    font-size: 25px;
    font-weight: bold;
    position: relative;
  margin-top: -20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .login {
    
    margin-top: 50px;
    float: right;
    height: 300px;
    width:200px;
    border-radius: 15px;
    background-color:#fff;
    margin-right: 0px;
  }
  .login .container {
    width: 500px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    height: 400px;
    
  }
  .login .container h1 {
    margin-top: 10px;
    font-size: 35px;
    font-weight: bolder;
  }
  .login .container .login-form {
    margin-top: 30px;
    height: 800px;
  }
  .login .container .login-form form {
    display: -ms-grid;
    display: grid;
  }
  .login .container .login-form form input {
    font-size: 16px;
    font-weight: normal;
    background: rgba(57, 57, 57, 0.07);
    margin: 12.5px 0;
    height: 60px;
    border: 1px;
    padding: 0 30px;
    border-radius: 10px;
    
  }

 
  .login .container .login-form form button[type=submit] {
   margin: auto;
    height: 50px;
    width: 350px;
    border-radius: 18px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 60px;
    background: black
  }
  .login .container .login-form form button[type=submit]:hover {
    background-color: #f794a4;
    color: white;
  }
 
.login .copy{
    margin-top: 260px;
    font-size: 10;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  .login .container .forget-pass {
    position: absolute;
    margin-left: 5px;
    margin-top: 173px;
    
  }
  .login .container .forget-pass a {
    font-size: 16px;
    position: relative;
    font-weight: normal;
   color: #349EE8 ;
  }

  .login .container .forget-pass a:hover {
    
    color: rgb(63, 63, 215);
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1680px) {
    .bg-illustration {
      width: 50%;
      -webkit-animation: none;
              animation: none;
    }
  
    .login {
      width: 50%;
    }
  }
  /* Display 12", iPad PRO Portrait, iPad landscape */
  @media only screen and (max-width: 1024px) {
    body {
      overflow-x: hidden;
    }
  
    @-webkit-keyframes slideIn {
      from {
        left: -100%;
        opacity: 0;
      }
      to {
        left: 0;
        opacity: 1;
      }
    }
  
    @keyframes slideIn {
      from {
        left: -100%;
        opacity: 0;
      }
      to {
        left: 0;
        opacity: 1;
      }
    }
    .bg-illustration {
      float: none;
      
      background-size: cover;
      -webkit-animation: slideIn 0.8s ease-in-out forwards;
              animation: slideIn 0.8s ease-in-out forwards;
      width: 100%;
      height: 190px;
      text-align: center;
    }
    .bg-illustration img {
      width: 100px;
      height: auto;
      margin: 20px auto !important;
      text-align: center;
    }
    .bg-illustration .burger-btn {
      left: 33px;
      top: 29px;
      display: block;
      position: absolute;
    }
    .bg-illustration .burger-btn span {
      display: block;
      height: 4px;
      margin: 6px;
      background-color: #fff;
    }
    .bg-illustration .burger-btn span:nth-child(1) {
      width: 37px;
    }
    .bg-illustration .burger-btn span:nth-child(2) {
      width: 28px;
    }
    .bg-illustration .burger-btn span:nth-child(3) {
      width: 20px;
    }
  
    .login {
      float: none;
      margin: 0 auto;
      width: 100%;
    }
    .login .container {
      -webkit-animation: slideIn 0.8s ease-in-out forwards;
              animation: slideIn 0.8s ease-in-out forwards;
      width: 85%;
      float: none;
    }
    .login .container h1 {
      font-size: 25px;
      margin-top: 40px;
    }
    .login .container .login-form {
      margin-top: 90px;
    }
    .login .container .login-form form input {
      height: 45px;
    }
    .login .container .login-form form button[type=submit] {
      height: 45px;
      margin-top: 100px;
    }
    .login .container .login-form .remember-form {
      position: relative;
      margin-top: -14px;
    }
    .login .container .login-form .remember-form span {
      font-size: 16px;
      margin-top: 22px;
      top: inherit;
    }
  
    .forget-pass {
      position: absolute;
      right: inherit;
      left: 0;
      bottom: -40px;
      margin: 0 !important;
    }
    .forget-pass a {
      font-size: 16px;
      position: relative;
      font-weight: normal;
      color: #918F8F;
    }
    .forget-pass a::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      border-radius: 100px;
      background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
      background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
      background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
      bottom: -4px;
      left: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      opacity: 0;
      right: 0;
    }
    .forget-pass a:hover::after {
      opacity: 1;
    }
  }
  .signup-link{
    margin-top: 20px;
    font-weight: bold;
  }
  .container .facebook a{
    display: block;
    height: 45px;
    width: 300px;
    font-size: 18px;
    text-decoration: none;
    padding-right: 15px;
    line-height: 20px;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
    
    
   
  }
  .container .facebook i{
    padding-right: 20px;
    font-size: 20px;
    color: blue;
    margin-top: 10px;
  }
  
  .container .facebook a{
    background: linear-gradient( to right,  #3b5998 0%, #476bb8 100%);
    margin: -35px 0px 80px 73px;
  }
  .container .facebook a:hover{
    background: linear-gradient( to left,  #3b5998 0%, #476bb8 100%);
    margin: -35px 0px 50px 73px;
  }
  .container .option{
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  .option::before{
    content: "";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 100px;
    background-color: #ccc;
    margin-top: 258px;
  }
  .option::after{
    content: "";
    display: block;
    height: 2px;
    width: 135px;
    position: absolute;
    top: 50%;
    right: 97px;
    background-color: #ccc;
    margin-top: 258px;
    
  }
.container .google{
  margin-top: 50px;
}
  .container .google a{
    display: block;
    height: 45px;
    width: 300px;
    font-size: 18px;
    text-decoration: none;
    padding-right: 8px;
    line-height: 20px;
    color: black;
    border-radius: 5px;
    transition: all 0.3s ease;
 
    border-style: groove;
   
  }
  .container .google i{
    padding-right: 15px;
    font-size: 20px;
    color: blue;
    margin-top: 10px;
  }
  
  .container .google a{
    background: white;
    margin: -25px 0px 50px 73px;
  }
  .container .google a:hover{
    background: rgb(245, 244, 242);
    margin: -25px 0px 50px 73px;
  }